<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'" [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'" [class]="activeTheme">
    <td-navigation-drawer flex [sidenavTitle]="name">
      <mat-nav-list [tdLayoutClose]="true">
        <a *ngFor="let item of routes" (click)="onRouteChange(item)" mat-list-item><mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
      <div td-navigation-drawer-menu>
        <mat-nav-list>
          <a *ngFor="let item of usermenu" mat-list-item><mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
        </mat-nav-list>
      </div>
    </td-navigation-drawer>
    <td-layout-nav [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'Robotic Crypto Exchange' : ''"  navigationRoute="/">
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <div td-toolbar-content layout="row" layout-align="start center" flex>
        <span flex *ngIf="!searchBox.searchVisible"></span>
        <td-search-box hide-xs flex #searchBox [ngClass]="{'push-left push-right mat-whiteframe-z1 bgc-white tc-black': searchBox.searchVisible }"  placeholder="search"></td-search-box>
        <span *ngIf="currentUser">Hello {{currentUser.firstName}}!</span>
        <span *ngIf="currentUser">
            <button (click)="logout()" mat-icon-button matTooltip="Log out" >
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </span>
        <span>
          <button mat-icon-button matTooltip="Alerts" [matMenuTriggerFor]="notificationsMenu">
            <td-notification-count color="accent" [notifications]="4">
              <mat-icon>notifications</mat-icon>
            </td-notification-count>
          </button>
          <mat-menu #notificationsMenu="matMenu">
            <td-menu>
              <div td-menu-header class="mat-subhead">Notifications</div>
              <mat-nav-list dense>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2]">
                  <a mat-list-item>
                    <mat-icon matListAvatar>today</mat-icon>
                    <h4 mat-line><span class="text-wrap">XRP Order Completed</span></h4>
                    <p mat-line>22 minutes ago</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <button mat-button color="accent" td-menu-footer>
                See All Notifications
              </button>
            </td-menu>
          </mat-menu>
        </span>
        <span>
          <button mat-icon-button matTooltip="More" [mat-menu-trigger-for]="more">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu xPosition="before" #more="matMenu">
              <button mat-menu-item *ngIf="activeTheme === 'theme-dark'" (click)="theme('theme-light')">
                <mat-icon>brightness_high</mat-icon>
                <span>Light Mode</span>
              </button>
              <button mat-menu-item *ngIf="activeTheme != 'theme-dark'" (click)="theme('theme-dark')">
                <mat-icon>brightness_low</mat-icon>
                <span>Dark Mode</span>
              </button>
          </mat-menu>
        </span>
        
      </div>
      <td-layout-manage-list #manageList
              [opened]="media.registerQuery('gt-sm') | async"
              [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
              [sidenavWidth]="!miniNav ? '257px' : '64px'">
        <div td-sidenav-content layout="column" layout-fill>
          <mat-toolbar>
            <mat-icon class="push-left-xs" [matTooltip]="!miniNav ? '' : 'Dashboards'" matTooltipPosition="after">dashboard</mat-icon>
            <span *ngIf="!miniNav" class="push-left-sm">{{mainRouteTitle}}</span>
          </mat-toolbar>
          <mat-nav-list flex [tdLayoutManageListClose]="!media.query('gt-sm')">
            <ng-template let-item let-index="index" let-last="last" ngFor [ngForOf]="subRoutes">
              <a mat-list-item [routerLink]="[item.route]">
                <mat-icon matListIcon [matTooltip]="!miniNav ? '' : 'Dashboard ' + index" matTooltipPosition="after">{{item.icon}}</mat-icon>
                <span *ngIf="!miniNav">{{item.title}}</span>
              </a>
            </ng-template>
            <mat-divider></mat-divider>
            <a mat-list-item *ngIf="mainRouteTitle === 'Dashboards'">
              <mat-icon matListIcon [matTooltip]="!miniNav ? '' : 'Add Dashboard'" matTooltipPosition="after">add</mat-icon>
              <span *ngIf="!miniNav">Add Dashboard</span>
            </a>
          </mat-nav-list>
          <div class="td-layout-footer pad-sm" layout="row" layout-align="space-between center">
            <button type="button" mat-icon-button (click)="toggleMiniNav()">
              <mat-icon [@tdRotate]="miniNav">keyboard_arrow_left</mat-icon>
            </button>
            <span *ngIf="!miniNav" class="mat-caption">&copy; 2018 BE IT, Velammal Eng.</span>
          </div>
        </div>
    
        <mat-sidenav-container flex>
          <mat-sidenav #sidenav align="end">
            <div layout="column" layout-fill>
              <mat-toolbar>Settings</mat-toolbar>
              <div flex class="mat-content">
  
              </div>
            </div>
            
          </mat-sidenav>
          <td-layout-nav color="none">
            <div td-toolbar-content flex layout="row" layout-align="start center">
              <button mat-icon-button tdLayoutManageListToggle>
                <mat-icon>menu</mat-icon>
              </button>
              <span hide-xs>{{pageTitle}}</span>
              <span flex></span>            
              <button matTooltip="Dashboard Settings" matTooltipPosition="before" type="button" mat-icon-button (click)="sidenav.open()">
                <mat-icon>settings</mat-icon>
              </button>
            </div>
            <alert></alert>
            <router-outlet></router-outlet>
          </td-layout-nav>
        </mat-sidenav-container>
      </td-layout-manage-list>
      <td-layout-footer>
        <div layout="row" layout-align="start center">
          <span><mat-icon class="text-md">favorite</mat-icon> Built on Angular v5 + Angular Material + NGX-Charts.</span>
        </div>
      </td-layout-footer>
    </td-layout-nav>
  </td-layout>
  
  <ng-template #dialogContent let-dialogRef="dialogRef">
    <div layout="column" layout-fill>
      <h2 mat-dialog-title>
        Card Settings
      </h2>
      <mat-divider></mat-divider>
      <mat-dialog-content flex>
        <form class="pad">
          <div layout="row" layout-margin>
            <mat-form-field flex>
              <input matInput placeholder="Card order" value="1" type="number">
            </mat-form-field>
            <mat-form-field flex>
              <input matInput placeholder="Card width" value="100" type="number">
            </mat-form-field>
          </div>
        </form>
      </mat-dialog-content>
      <mat-divider></mat-divider>
      <mat-dialog-actions align="end">
        <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
        <button type="button" mat-button color="accent" class="text-upper" (click)="dialogRef.close()">Save</button>
      </mat-dialog-actions>
    </div>
  </ng-template>